
# compiled output
/dist
/tmp
/deploy
/screenshots
/.ng_build
/.ng_pkg_build

# dependencies
node_modules

# IDEs
/.idea
/.vscode

# misc
*.js
*.map
*.d.ts
.DS_Store
Thumbs.db
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
/.git