node_modules
demo/node_modules/
demo/src/app/responsive
demo/public/
demo/typings/
dist/
*.log
*.tgz
npm-debug.log.*
.idea/
typings/**
jspm_packages
demo/jspm_packages
link-checker-results.txt
demo/link-checker-results.txt
**/*npm-debug.log.*
_test-output
_temp
!**/*e2e-spec.js
!karma*.js
!protractor*.js
.vscode

demo/!**/*e2e-spec.js
demo/!karma*.js
demo/!protractor*.js


