$ cat .gitignore
/node_modules
/documentation
/coverage

*.log
*.tgz

# compiled output
/dist
/tmp
/deploy
/screenshots
/.ng_build
/.ng_pkg_build

# dependencies
node_modules
package-lock.json
examples/node_modules
expamples/package-lock.json

# IDEs
/.idea
/.vscode
*.iml

# misc
/.angular/cache
*.js
*.map
*.d.ts
.DS_Store
Thumbs.db
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
/.git
yarn.lock
