node_modules
demo/node_modules/
dist/node_modules/
*.log
*.tgz
npm-debug.log.*
.idea/
typings/**
demo/typings/**
jspm_packages
demo/jspm_packages
link-checker-results.txt
demo/link-checker-results.txt
**/*npm-debug.log.*
demo/*.js
demo/*.js.map
demo/_test-output
demo/_temp
_test-output
_temp
!**/*e2e-spec.js
!karma*.js
!protractor*.js
!systemjs.config.js
!typings/typings.d.ts
.vscode

demo/!**/*e2e-spec.js
demo/!karma*.js
demo/!protractor*.js
demo/!systemjs.config.js
demo/!typings/typings.d.ts
